@keyframes puppy {
  from{opacity: 0;}
  to{opacity: 1;}
}

@-webkit-keyframes puppy{
  from{opacity: 0;}
  to{opacity: 1;}
}

@keyframes blender {
  from{opacity: 0;}
  to{opacity: 1;}
}

@-webkit-keyframes blender {
  from{opacity: 0;}
  to{opacity: 1;}
}

.blenders{
  animation-name: blender;
  animation-delay: 0.5s;
  -webkit-animation-name: blender;
  animation-duration: 5s;
}

.puppys{
  animation-name: puppy;
  animation-delay: 0.5s;
  -webkit-animation-name: puppy;
  animation-duration: 5s;
  border-radius: 50%;
}

.center{

text-align: center;
display: block;
margin: 0 auto;
}

.inline{
  display:inline !important;
}

h1{
 color: black;
}

li{
display: inline;
padding: 10px;
font-size: 20px;
}
body{
  font-family: 'PT Sans', sans-serif;

  background-image: url("../images/landscape3.jpg.lnk");
  background-size: cover;
  margin: 0px;

}

.nav-item{
display: inline;
padding: 10px;
  font-size: 20px;
}

.nav-link{
text-decoration: none;
color: black;
}

.nav-link:hover{
  color: #70FF58;
  font-size: 23px;
}

.phoenix{
 height: auto;
 width: 350px;
text-align: center;
display: block;
margin: 0 auto
}

.blender{
  height: 400px;
  width: 400px;
  text-align: center;
  display: block;
  margin: 0 auto
}

.nav{
  margin: 0px;
  padding: 0px;
  background-color: #0DBEFF
}

.nav-container{
  margin: 0px;
  padding: 0px 0px;
}
